header {
    background: var(--color1);
    display: flex;
}

.mobile-header-left, .mobile-header-right {
    flex: 1 1 0;
}

.mobile-header-right {
    display: flex;
    justify-content: flex-end;
}

#acct-icon {
    display: none;
}